doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Client Template
    link(rel='stylesheet', href='./css/a.css')
  body
    h1 Test 1-A

    input#input(type='text', autofocus=true, placeholder='Type Colors Here')
    button#btn Colorize

    div#container

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/a.js')
