doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Client Template
    link(rel='stylesheet', href='./css/b.css')
  body
    h1 Test 1-B

    button#flip Flip
    br
    .heads#hcount 
    .tails#tcount
    br
    .head#hpercent
    .tails#tpercent

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/b.js')
