doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Client Template
    link(rel='stylesheet', href='./css/c.css')
  body
    h1 Test 1-C

    input#input(type='text')
    button#btn Square It
    #evens EVENS
    #oods ODDS

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/c.js')
